<div id="app"></div>

<script type="text/javascript" charset="utf-8">
  // We using the load event because of iframe issue
  jQuery(window).bind('load', function(){
    window.app = new App({
      el: $('#app'), 
      user: <%= @user.to_json.html_safe %>
    });
  });
</script>